$verde-escuro:  #2a381f;
$verde-escuro-rgb: 42, 56, 31;

$verde-claro:   #f7f2e4;
$verde-claro-rgb: 247, 242, 228;

$success:   #3da75a;
$info:      #13101c;
$warning:   #f7eed7;
$danger:    #dd5861;

$body-bg-color:   #f7f2e4;
$body-text-color: #202020;
